
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f7fa;
    padding: 20px;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #cbe5ff;
    color: rgb(12, 0, 0);
    border-radius: 3px;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin: 15px auto;
    max-width: 400px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input[type="search"] {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

.search-container input[type="search"]:focus {
    border-color: #3498db;
    outline: none;
}

main {
    max-width: 1000px;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

h1, h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 10px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


main > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
    padding-top: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}


.see-also {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.see-also li {
    background: #dff9fb;
    padding: 8px 12px;
    border-radius: 8px;
}

.see-also a {
    color: #000000;
    font-weight: bold;
}
